.quote{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;

}

.button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: rgb(247, 245, 246);
  background-color: rgb(105, 103, 103);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(182, 14, 14);
  width: 100%;
  position: fixed;
}

.button:hover {
  background-color: rgba(22, 19, 19, 0.966);
}